
@model HelloWorld.ViewModel.EmployeeViewModel
@*@model HelloWorld.Models.Employee*@
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    Welcome to MVC 5 Step by Step learning
    <div>
        @{ 
            //HelloWorld.Models.Employee objEmployee = (HelloWorld.Models.Employee)ViewData["Employee"];
            HelloWorld.Models.Employee objEmployee = (HelloWorld.Models.Employee)ViewBag.Employee;

                //WebApplication1.Models.Employee emp = (WebApplication1.Models.Employee)ViewBag.Employee;
        }
        @*<p>
            Employee First Name : @objEmployee.FirstName<br />
            Employee Last Name  : @objEmployee.LastName<br />
            Employee Salary     : @objEmployee.Salary
        </p>

        @if (@objEmployee.Salary > 2000)
        {
            <span style="background-color: yellow">Employee Salary: @Model.Salary.ToString("C")
                        </span>
            <span style="background-color: yellow">Employee Salary: @objEmployee.Salary.ToString("C")
            </span>
        }
        else
        {
            <span style="background-color: green">Employee Salary: @objEmployee.Salary.ToString("C")
            </span>

        }*@


        @*@if (Model.Salary > 2000)
        {
            <span style="background-color: yellow">Employee Salary: @Model.Salary.ToString("C")
            </span>
            
        }
        else
        {
                <span style="background-color: green">Employee Salary: @Model.Salary.ToString("C")
            </span>
        }*@

        @*<span style="background-color: yellow">Employee Salary: @Model.SalaryColor
            @Model.Salary
            </span>*@

        <span style="background-color:@Model.SalaryColor">
        
            @Model.Salary
        </span>

    </div>
</body>
</html>
